    * { box-sizing: border-box; }

    body {
      margin: 0;
      padding: 20px;
      font-family: sans-serif;
      background: transparent;
    }

    .wrapper {
      display: flex;
      width: 100%;
    }

    .container {
      padding: 0;
    }

    .image-wrapper {
      position: relative;
      width: 100%;
      height: 450px;
      overflow: hidden;
    }

    .image-wrapper img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      display: none;
    }

    .image-wrapper img.active {
      display: block;
    }

    .slider-label-wrapper {
      width: 100%;
      text-align: center;
      margin-top: 6px;
    }

    #slider {
      width: 100%;
      margin-top: 10px;
      display: block;
    }

    .slider-label {
      font-size: 14px;
      color: #555;
    }